* {
    background-color: darkolivegreen;
    font-size: 24px;
}

* :not(a){
    color:aliceblue;
}

img {
    display: block;
    width: auto;
    height: 500px;
    margin: 2em auto;
}

h1 {
    text-align: center;
}

li {
    padding: 1px;
}